* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  overflow: auto;
  z-index: 1000;
}
.header > .logo {
  height: 3rem;
  margin-left: 20px;
  z-index: 1000;

}
.header > .nav {
  display: flex;
}
.header .link {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  z-index: 1000;

}
.header .link:hover {
  color: #3F72AF;
  background-color: #444;

}
.header .link.active {
color: #3F72AF;
background-color: #444;
}
