

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
  color: #3F72AF;
}

.section-title {
  color: white;

}
main {
  margin-top: 350px;
  /* padding: 20px; */
}

p {
  color: #fff;
}

footer {
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 2rem;
}

li {
  color: #444;
}

.member {
  font-size: 1.3rem;
}

.py-1 {
  padding: 1rem;
}

.py-2 {
  padding: 2rem;
}

.py-3 {
  padding: 3rem;
}

.py-4 {
  padding: 4rem;
}

.py-5 {
  padding: 5rem;
}

.py-6 {
  padding: 1rem;
}



footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #444;
  color: #fff;
  font-weight: 600;
}


video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  /* filter: contrast(100%) brightness(100%); */

}

main {
  position: relative;
  }

