
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid #ccc;
    align-items: center;
}

main{
    margin-top: 50px;
}

main p{
    color: #000;
}

form > .form-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.form-content {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

.form-element {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-label {
    color: #777;
    visibility: hidden;
}

.form-element input {
    width: 3rem;
    padding: 0.1rem;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

form button {
    width: 6rem;
    padding: 0.25rem;
    font-size: 1.2rem;
}

form .note {
    color: #999;
    font-style: italic;
    font-size: 0.9rem;
}
body{
    background-color: #f3f3f3;
}
.world {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    position: relative;
    background-color: #686D76;
    height: calc(100vh - 280px);
    width: 100%;

}
.world > .row {
    display: flex;
}



.world > .row > .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 48px;
    border: 1px solid  #777b83;

}

.chicken, .snake {
  width: 70px;
  height: 70px;
  padding: 4px;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
button {
    border: 1px solid #000;
}

form p {
    text-align: left;
}

.text-valdymas{
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #999;
}